@charset "ISO-8859-1";
html{
	min-height: 100vh;
	position: relative;
}

body{
	margin: 0 0 200px;
	font-family: Trebuchet MS, Georgia;
	background-color:#f2f2f2;
}

.navbar {
	min-height: 75px;
	position: relative;
	background-color:white;
	font-size: 15px;
}

.navbar-header {
	min-height: 75px;
	
}

.navbar-nav {
	padding-top:10px;
	text-shadow: 5px 5px 30px grey;

}

#topbar {
	margin: 0;
}

#topbar .navbar-brand {
	height: 0;
	width: auto;
}

#topbar .img-responsive {
	z-index: 3;
	padding: 0;
	height: 3em;
	margin-top: 0;
	padding-bottom: 4px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
}

.jumbotron {
	background-position: 0% 15%;
	background-image: url("../img/jumb1.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 55vh;
	width: 100%;
	color: white;
	text-shadow: black 0.3em 0.3em 0.3em;
}

.jumbotron #contentj {
	margin-top: 50px;
	margin-bottom: 70px;
	width: 100%;
	height: 100%;
	position: relative;
}

.circle-icon {
	width: 100px;
	height: 100px;
	background-color: #007dc3;
	color: white;
	border-radius: 100px;
	padding-top: 30px;
	font-size: 2.5em;
	text-align: center;
}


.img-circle{
	 border-radius: 50%;
	 width: 150px;
	 height: 150px;
}

.carousel-control{
	color: #007dc3;
    font-size: 3em;
    widht: 100px;
    height:150px;
    text-shadow: none;
    opacity: 1;
}

.left{
	left: -20px;
}

.carousel-control:focus:hover {
    opacity: 1;
    color: #007dc3;
}

.container{
	background-color:white;
}

.input-group-addon {
    border-left: 0;
}

footer {
	background-color: #007dc3;
	color: white;
	position: absolute;
 	left: 0;
  	bottom: 0;
  	height: 120px;
 	width: 100%;
 	clear:both;
 	overflow:hidden;
 	font-size: 12px;
}

footer .title{
	font-size: 14px;
	text-align:center;
}

.fa {
	display: inline-block;
	font: 22px;
}

.fa-star{
	color:#fbfb00;
	
}
