@charset "ISO-8859-1";

.container{
	margin-top: 10px;
}

.panel{
	background-color: #007dc3;
	color: white;
}

img{
	max-widht:200px;
	max-height:300px;
}

input{
	 color: #fff;
}

.imgCart{
	max-widht:200px;
	max-height:300px;
}

.tutor-availability{
	border-radius: 4px;
	background-color: #f2f2f2;
	padding: 1.4rem;
	overflow: hidden;
}

#row-voto{
	border-radius: 4px;
	background-color: #f2f2f2;
	margin:15px;
	padding: 1.4rem;
	overflow: hidden;
}



